$phoenix-orange: #f05423;
$primary: $phoenix-orange;


@import "./bulma";

.logo {
	letter-spacing: .1rem;
	text-transform: uppercase;
	font-size: 1.6rem;
	font-family: Helvetica,sans-serif;
	font-weight: 700;
	color: #212121;
}

.icon-text {
	flex-wrap: nowrap;
}

.mw30 {
	max-width: 30%;
}

.pre {
	white-space: pre-wrap;       /* css-3 */
	white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: normal;       /* Internet Explorer 5.5+ */
	
}