<.header>
  <%= @past %> is as far away from <%= @now %> as <%= @future %> is
  <:subtitle><%= @sub %></:subtitle>
  <:actions>
    <.button onClick="window.location.reload();" class="button is-fullwidth">Try again!</.button>
  </:actions>
</.header>
